.container {
  font-family: "outfit", sans-serif;

  background-color: hsl(212, 45%, 89%);

  position: absolute;

  height: 1440px;
  width: 1440px;

  font-weight: 400, 700;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sub-container {
  width: 200px;

  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;

  position: relative;
  top: 50px;
}

.qr-code-box {
  margin-top: 12px;
  margin-left: 12px;
  margin-right: 12px;

  height: 180px;
}

.qr-code-img {
  height: 100%;
  width: 100%;

  border-radius: 7px;
}

.cta-box {
  margin: 12px;
  padding-left: 5px;
  padding-right: 5px;
}

.cta-top {
  color: hsl(218, 44%, 22%);

  font-size: 14px;
  font-weight: 700;

  display: flex;
  text-align: center;
}

.cta-bottom {
  font-size: 10px;
  color: hsl(216, 15%, 48%);

  display: flex;
  text-align: center;
}

.attribution { 
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 12px;

  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}
